snippet todo "TODO comment" b
/* TODO: `date +%F` ${1:Description} */
endsnippet

snippet "in?c?l?u?d?e?" "Include a library" rb
#include $0
endsnippet

snippet main "Main Method" bA
int main(){

	$0

	return 0;
}
endsnippet

snippet std "using namespace" bA
using namespace std;$0
endsnippet
